h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

.navbar-brand {
  margin: 0 auto;
  padding: 10px;
}

.search-col {
  background: #f8f8f8;
  padding-top: 15px;
}

.forecast-col {
  margin: 1rem;
}

.col-sm-12 {
  padding-top: 15px;
}

#clear-search {
  margin-bottom: 20px;
}
